* {
    font-family: sans-serif;
}
body {
    background: url('/assets/image/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: grid;
    place-items: center;
}
#kata {
    color: white;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#bg, #ball, .team {
    display: none;
}
.game-title {
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 10px;
}
#timer {
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 10px;
}
#home {
    background-color: rgb(254, 254, 254);
    width: 500px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#game {
    display: none;
}
.select {
    color: rgb(160, 0, 0);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
}
select {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: rgb(160, 0, 0);
}
.d-flex {
    display: flex;
    justify-content: space-between;
}
.col {
    margin-left: 25px;
    margin-right: 25px;
}
.center {
    display: grid;
    place-items: center;
}
#start-btn {
    width: 400px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(160, 0, 0);
    color: white;
    margin-bottom: 20px;
}
.team-image {
    border: 2px solid rgb(66, 39, 39);
    border-radius: 50%;
    margin-top: 50px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.htp {
    padding: 15px;
    background-color: rgb(240, 223, 223);
    border-radius: 10px;
    margin-top: 30px;
    min-width: 400px;
    max-width: 400px;
    text-align: left;
}
.text-bold {
    font-weight: bold;
}
.container .disabled {
    display: none !important;
}
button {
    display: block;
}
#pause {
    display: block;
    position: absolute;
    left: 62%;
    top: 51%;
    transform: translate(-50%, -50%);
    padding: 5px 10px;
    color: white;
    background-color: rgb(44, 0, 0);
}
#paused, #end {
    width: 300px;
    height: 200px;
    max-width: 350px;
    border-radius: 10px;
    display: grid;
    position: absolute;
    place-items: center;
    background-color: rgb(255, 255, 255);
}
.paused, #end-text {
    color: darkred;
    font-size: 25px;
    font-weight: bolder;
}
#score {
    color: black;
    font-size: 25px;
    font-weight: bolder;
}
#resume, #restart, #out{
    background-color: darkred;
    color: white;
    border: 0;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
}
#loading {
    color: rgb(43, 0, 0);
    font-weight: bolder;
    font-size: 100px;
    top: 35%;
    position: absolute;
}
.text-center {
    text-align: center;
}